{% extends "base.html" %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<h1>Iniciar sesión</h1>
{% if form.errors %}
<p>
El usuario o la contraseña no son correctos.
Por favor, inténtalo de nuevo.
</p>
{% else %}
<p>Usa el siguiente formulario para iniciar sesión:</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input type="submit" value="Entrar"></p>
    </form>
</div>
{% endblock %}