{% extends "base.html" %}

{% block title %}Establecer nueva contraseña{% endblock title %}

{% block content %}
<h1>Establecer nueva contraseña</h1>
    {% if validlink %}
    <p>Ingresa y confirma tu nueva contraseña a continuación.</p>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <input type="submit" value="Guardar nueva contraseña">
        </p>
    </form>
    {% else %}
    <p>El enlace de recuperación no es válido o ya fue utilizado. Por favor
    <a href="{% url 'password_reset' %}">solicita uno nuevo</a>.</p>
    {% endif %}
{% endblock content %}